<%@ CodeTemplate Language="C#" ClassName="Template.Class" %>
<%@ ReferenceAssembly Path="System.dll" %>
<%@ ReferenceAssembly Path="DatabaseCatalogReader.dll" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="DatabaseCatalogReader" %>
<%@ Parameter Name="table" Type="SqlTable" %>




<%

System.Diagnostics.Debugger.Launch();

var fields = table.GetFields();

string sourceFields=string.Empty;
string targetFields=string.Empty;
string updateFields=string.Empty;
string sourceFieldPrefix="S.";
string comma=",\n\t\t\t\t";

for(int i=0; i<fields.Length; i++)
{
    if(i==fields.Length-1)
    comma = string.Empty;
    
    sourceFields += fields[i].Name + comma;
    targetFields += "S.["+fields[i].Name +"]"+ comma;
    
    
    updateFields += "T.["+fields[i].Name + "] = " + "S.["+fields[i].Name+"]" + comma;
    
}

%>

/******************************************************************************************
** Auth: Yogeesha Naik
** Date: 
** Desc: Other than crud operations on <%= table.Name %> 
*******************************************************************************************
** Change History
*******************************************************************************************
**  PR  Date        Author          Description 
**  --  --------    -------         ------------------------------------
**  
*******************************************************************************************
** Test Data
EXECUTE Admin_Manage<%= table.Name %> 
*******************************************************************************************/

-- Create temp table



GO
BEGIN TRAN;

    MERGE <%= table.Name %> AS T
    USING Source AS S
    ON (T.EmployeeID = S.EmployeeID) 
    WHEN NOT MATCHED BY TARGET AND S.EmployeeName LIKE 'S%' 
        
    THEN INSERT(
                <%= sourceFields %> 
            ) VALUES(
                <%= targetFields %>
            )
  
    WHEN MATCHED 
    THEN UPDATE SET <%= updateFields %>
    WHEN NOT MATCHED BY SOURCE AND T.EmployeeName LIKE 'S%'
        THEN DELETE 
    OUTPUT $action, inserted.*, deleted.*;
    
ROLLBACK TRAN;
GO 