<%@ CodeTemplate Language="C#" ClassName="Template.Class" %>
<%@ ReferenceAssembly Path="System.dll" %>
<%@ ReferenceAssembly Path="DatabaseCatalogReader.dll" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="DatabaseCatalogReader" %>
<%@ Parameter Name="table" Type="SqlTable" %>

@model <%= Settings["namespace"] %>.<%= table.Name %>
@{
    ViewBag.Title = T("Create <%= table.Name %>");
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"><b>@ViewBag.Title </b></h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <div class="box-body" style="display: block">
            @{ Html.RenderPartial("_InputFields", Model); }

            <div class="box-footer" style="display: block">
                <input type="submit" id="create" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
