<%@ CodeTemplate Language="C#" %>
<%@ ReferenceAssembly Path="System.dll" %>
<%@ ReferenceAssembly Path="System.Data.dll" %>
<%@ ReferenceAssembly Path="DatabaseCatalogReader.dll" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="DatabaseCatalogReader" %>
<%@ Import Namespace="System.Data" %>


<%
System.Diagnostics.Debugger.Launch();

    this.Host.CallTemplateToFile(
    @"csWindowsApplication.vstemplate",
        classname + "ViewModel.cs",
        table
    );
%>







